        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            /*overflow-y:hidden;*/
            /*overflow-x:hidden;*/
        }
        
        body {
            height: auto;
            width: 100%;
            display: grid;
            grid-template-columns: auto auto;
            grid-template-rows: auto auto auto auto;
            grid-template-areas: "header header" "content aside" "conteudo foto" "footer footer"
        }
        
        .cabecalho {
            grid-area: header;
            /*box-sizing: border-box;*/
        }
        /*.mainNav{*/
        /*grid-area: nav; */
        /*box-sizing: border-box;*/
        /*}*/
        
        .mainArticle {
            grid-area: content;
            /*box-sizing: border-box;*/
        }
        
        .mainAside {
            grid-area: aside;
            /*background-color: yellow;*/
            /*box-sizing: */
        }
        
        .mainAside,
        .mainAsi {
            margin-right: 10%;
        }
        
        .mainArticle,
        .mainAsi {
            margin-bottom: 15%
        }
        
        .mainArticle,
        .mainArti {
            margin-left: 10%;
        }
        
        .mainArticle ul,
        .mainArti ul {
            margin: 30px 0px 0px 50px;
            text-decoration: none;
        }
        
        .mainArticle a,
        .mainArti a {
            font-size: 20px;
            text-decoration: none;
            color: black;
        }
        
        .mainArticle a:hover,
        .mainArti a:hover {
            text-decoration: underline;
        }
        
        .mainAsi {
            grid-area: foto;
            /*box-sizing: border-box;*/
        }
        
        .mainArti {
            grid-area: conteudo;
            /*background-color: purple;*/
        }
        
        .mainArticle,
        .mainAside,
        .mainAsi,
        .mainArti {
            padding-top: 150px;
            height: 500px;
            justify-self: center;
        }
        
        .rodape {
            grid-area: footer;
            /*box-sizing: border-box;s*/
        }
        
        .lab {
            float: right;
            padding: 10px;
            margin: 0px 90px;
        }
        
        .downloads {
            margin: 0;
        }
        
        h1 {
            font-family: "Open Sans", Arial, sans-serif;
            font-style: italic;
            font-size: 60px;
            -webkit-background-clip: text !important;
            -webkit-text-fill-color: transparent;
            background: -webkit-linear-gradient(left, #f8a335 0%, #f2175f 100%);
            background-image: -webkit-linear-gradient(left, rgb(248, 163, 53) 0%, rgb(242, 23, 95) 100%);
            text-align: center;
            justify-self: center;
            padding: 0px 10px;
            width: max-content;
        }