/* ****************************TAGS********************************* */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}


body,
html {

    height: 100%;
}

body {
    display: grid;
    height: auto;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;

}

main{
    grid-row-start: 2;
    grid-row-end: 3;
    display: grid;
    height: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;


}

h1 {
    font-family: "Open Sans", Arial, sans-serif;
    font-style: italic;
    font-size: 72px;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(left, rgb(255,104, 192) 0%, rgb(104, 84, 249) 100%);
    background-image: -webkit-linear-gradient(left, rgb(255,104, 192) 0%, rgb(104, 84, 249) 100%);
    text-align: center;
    height: 300px;
}

/* ****************************final TAGS********************************* */


/* ****************************CLASSES********************************* */


/* ---------------HEADER-MENU------------- */
.cabecalho {
    background-image: url("../img/banner-impressora.png");
    
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    /* background-attachment: fixed; */
    grid-row-start: 1;
    grid-row-end: 2;
    vertical-align: top;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 350px;
    width: 100%;
}

.navbar {
    /* box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.16);
    background-color: rgb(92, 89, 89) */
}
/* ---------------final HEADER-MENU------------- */


/* ---------------CONTEÚDO PRINCIPAL------------- */

/* **********************DESCRIÇÃO********************** */
.div-descricao
{
    grid-row-start: 1;
    grid-row-end: 2;
    display: grid;
    height: 100%;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}
.div-descricao h1
{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
}

.div-descricao p 
{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}

.div-descricao img
{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    height: 100%;
}
/* **************************************************** */


/* **********************PROJETOS********************** */
.div-projetos
{
    background-image: url("../img/projetos-fundo.png");
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100%;
    grid-row-start: 2;
    grid-row-end: 3;
    display: grid;
    height: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 15% 40% 40% 10%;
}

.div-projetos h1
{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 4;
}

.card-projetos
{

}

.p1
{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}

.p2
{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}

.p3
{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
}

.p4
{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
}

.p5
{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
}

.p6
{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 4;
}



.div-projetos a
{
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 4;
}

/* **************************************************** */




/* ---------------final CONTEÚDO PRINCIPAL------------- */



/* ---------------RODAPÉ------------- */
.rodape {
    grid-row-start: 3;
    grid-row-end: 4; 
}



/* ---------------final RODAPÉ------------- */