/* ****************************TAGS********************************* */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}


body,
html {

    height: 100%;
}

body {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 100%;
    grid-template-rows: 60vh 1000px auto;

}

h1 {
    font-family: "Open Sans", Arial, sans-serif;
    font-style: italic;
    font-size: 72px;
    width: 370px;
}

/* ****************************final TAGS********************************* */


/* ****************************CLASSES********************************* */
.h1-gradient-1 {
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(left, #f8a335 0%, #f2175f 100%);
    background-image: -webkit-linear-gradient(left, rgb(248, 163, 53) 0%, rgb(242, 23, 95) 100%);
    text-align: center;
    height: 300px;
}

/* ---------------HEADER-MENU------------- */
.cabecalho {
    background-image: url("../img/banner-impressora.png");

    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    grid-row-start: 1;
    grid-row-end: 2;
    vertical-align: top;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.navbar {
    /* box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.16);
    background-color: rgb(92, 89, 89) */
}

