		*{
    		margin: 0;
    		padding: 0;
    		box-sizing: border-box;
    	}
		 #container{
		   display: grid;
		   grid-template-rows:         60vh                 70vh           60vh                        140vh                    20vh                 50vh                  20vh;
		    grid-template-areas:"header header header" "nav nav nav" "content aside aside"  "article article article" "equipe equipe equipe"  "foto1 foto2 foto3" "footer footer footer";
		}

		.cabecalho{
		   grid-area:header;
		   /*background:red;*/
		}

		.mainNav{
		   grid-area:nav;
		   /*background:green;*/
		}
		.mainArticle{
		   grid-area:content;
		   /*background:blue;*/
		}
		.mainAside{
		   grid-area:aside;
		   /*background:yellow;*/
		}

		.article{
			grid-area: article;
			/*background-color: gray;*/
		}

		.equipe{
			grid-area: equipe;
			/*background-color: purple;*/
		}

		/*
		.div{
			grid-area: foto;
			background-color: yellow;
		}*/


		.div1{
			grid-area: foto1;
			/*background-color: #00FF00;*/
			/*width: 80px;*/
			/*display: inline-block;*/
			/*align-content:center;*/
			display: inline-block;
		}

		.div2{
			grid-area: foto2;
			/*background-color: #D2691E;*/
			/*width: 80px;*/
			/*display: inline-block;*/
			/*align-content: center;*/
		}

		.div3{
			grid-area: foto3;
			/*background-color: #DEB887;*/
			/*width: 80px;*/
			/*display: inline-block;*/
			/*align-content: center;*/
		}

		.rodape{
		   grid-area:footer;
		   /*background:orange;*/
		   /*height: 100%;*/
		}

		.pesquisa{
			font-size: 75px;
			text-align: center;
		}

		.texto{
			font-size: 30px;
			text-align: center;
		}

		h2{
			text-align: center;
		}


		.senai-lab{
			text-align: center;
			padding: 30px;
			font-size: 30px; 
		}

		.maquina-foto{
			border: #ffcc66 Solid 10px;
		}

		.usuario{
			text-align: center;
		}

		/*@media only screen and (max-device-width: 900px) {*/
		 /*.container{ width:600px; } */
		/*}*/

		/*@media only screen and (max-device-width: 700px) {*/
		/*.container { width:400px; } */
		/*}*/


        @media(max-width: 600px){
           .container{display: grid;
           	grid-area: "header" "nav" "content" "footer"
           }
        }

        @media(max-width: 1000px),(orientation: portrait){
            .container{display: block;}
        }

        @media(min-width: 700px) and (max-width: 1000px) {
            .container{display: block;}
        }